[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
pyinstaller = "*"
macholib = {version="*", sys_platform="=='darwin'"}
pywin32-ctypes = {version="*", sys_platform="=='win32'"}
pefile = {version="*", sys_platform="=='win32'"}

[requires]
python_version = "3.11"

[scripts]
test = "python3 -m unittest discover"
mypy = "mypy app.py"
build = "pyinstaller app.py --onefile --noconsole --name=hello"
